
.todo{
    display: grid;
    grid-template-rows: 5rem 1fr;
    width: 60rem;
}
.contacto{
    background-color: gray;
    height: 45rem;
    width: 100%;
    display: grid;
    justify-items: center;
}
