.footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
    place-items: center;
}
.logos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    cursor: pointer;
    gap: 2rem;
}
.informacions{
    display: grid;
    grid-template-columns: 20rem 1fr;
}