.border{
    border: 1px solid white;
    border-radius: .5rem;
    height: 2.5rem;
    width: 100%;
    padding: .5rem;
    background-color: transparent;
    color: white;
    position: relative;
}
.border:focus{
    outline:none;
}
.border::placeholder{
    color: white
}
.form{
    position: relative;
    height: 30rem;
    width: 100%;
    display: grid;
    justify-items: center;
    background-image: url(../imgs/lena1.jpg);
    background-size: cover;

}
.form::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.482);
}
.forma{
    padding: 2rem;
    display: grid;
    grid-template-rows: 2rem 2rem 2rem 2rem;
    place-items: center;
    width: 20rem;
    height: 20rem;
    gap: 2rem;
    border-radius: .5rem;
}
.btnForm{
    background-color:white;
    color: black;
    width: 5rem;
    display: grid;
    place-items: center;
    position: relative;
}
.contactos{
    position: relative;
    font-size: 2rem;
    font-weight: bold;
    padding-top: 1rem;
    color: white;
}