.info{
    position: relative;
    display: grid;
    justify-items: center;
    align-items: center;
    color:white;
    text-align: center;
    height:33rem;
    width: 100%;
}
/* .info::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo negro semi-transparente */
 */
.textoL{
    width: 20rem;
    display: grid;
    place-items: center;
    text-align: center;
}
.textoR{
    width: 20rem;
}
.global{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.689);
    height: 15rem;
    width: 40rem;
    display: grid;
    place-items: center;
}
.textoL{
    font-size: 2rem;
    font-weight: bold;

}
