.informacion{
    width:70rem;
}
.super{
    padding-top:2rem;
    display: grid;
    justify-items: center;
    background-color: burlywood;
    height: 100vh;
}
.heading{
    text-align: center;
}
.general{
    margin-top:3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}
/* .imagess{
    height: 15rem;
    width: 30rem;
    object-fit: cover;
}
.description{
    display: grid;
    place-items: center;
} */
