@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:ital@0;1&family=Permanent+Marker&display=swap');
.informacion{
    width:70rem;
  
}
.super{
    padding-top:2rem;
    display: grid;
    justify-items: center;
    background-color: rgba(93, 93, 93, 0.798);
    height: 40rem;
}
.heading{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}
.general{
    margin-top:3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}
.detalle{
    position: relative;
    height: 30rem;
    width: 100%;
    background-image: url(../imgs/lena1.jpg);
    background-size: cover;
    display: grid;
    justify-items: center;
}
.detalle:before{
    position:absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color : rgba(0, 0, 0, 0.542);
}
.infor{
    position: relative;
    display: grid;
    grid-template-rows: 7rem 15rem;
    place-items: center;
    width:60rem;
}
.somos{
    position: relative;
    font-size: 2rem;
    margin-top: 2rem;
    color: white;
    font-weight: bold;
}
.text{
    color: white;
}
.texVideo{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.contacto{
    background-color: gray;
    height: 30rem;
    width: 100%;
    display: grid;
    justify-items: center;
}
.pad{
    padding-top: 1rem;
}
.todo{
    display: grid;
    grid-template-rows: 2rem 1fr;
    width: 60rem;
}
.map{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}
.tex{
    font-size: 1.5rem;
}