@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:ital@0;1&family=Permanent+Marker&display=swap');

body{
    overflow-x: clip;
    font-family: 'Montserrat', sans-serif !important;
}

.css-1u2cvaz {
    display: grid !important;
    place-items: center !important;
}
